:not(input):not(textarea) {
    user-select: none;
}

.container {
    display: flex;
}
  
.categoryNav {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 100%;
    align-items: center;
    border-left: 1px solid rgb(241, 243, 246);
}

.logoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 296px;
    height: 90px;
    cursor: pointer;
}

.navBox {
    width: 100%;
}

.logo {
    font-size: 27px;
    color: rgb(46, 128, 222);
}

.navImg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navList {
    margin: 0px;
}

.list {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 272px;
    height: 48px;
    cursor: pointer;
}

.list:hover {
    background-color: rgb(247, 249, 250);
}

.btnBox {
    display: flex;
    flex-direction: column;
    padding: 16px 12px;
    align-items: center;
}

.loginBtn {
    margin-bottom: 8px;
    border-radius: 8px;
    border: none;
    width: 248px;
    height: 40px;
    background-color: rgb(230, 242, 250);
    font-weight: 500;
    text-align: center;
}

.loginBtn:hover {
    background-color: rgb(218, 234, 245);
}

.userLoginBtn {
    color: rgb(0, 10, 222);
}

.hospitalLoginBtn {
    color: rgb(0, 10, 222);
}

.search {
    width: 78.2px;
    height: 42px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(223, 225, 226);
    font-weight: 500;
    font-size: 14px;
}